.contactListButton {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(#00bbd6, #ebffff);
    color: #333;
    border: solid 1px transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  
    box-shadow: 0 -2px rgb(86, 191, 233) inset;
    transition: 0.2s;
  
    &:hover,
    &:focus {
      background: rgb(86, 191, 233);
    }
    &:active {
      transform: translateY(1px);
    }
  }
  
  .contactList {
    width: 300px;
    flex-wrap: wrap;
  
    &Item {
      margin: 10px;
      display: flex;
      justify-content: space-between;
    }
  }